*, *::after, *::before {
    box-sizing: border-box;
  }
  
body {
    margin: 0;
}


.logo {
    margin-top: 10px;
    line-height: 1.2;
}
.logo-yt {
    width: 45px;
    position: absolute;
    line-height: 1.2;
}

.burger {
    font-size: 40px;
    color: grey;
}

.w-10{
    width: 10%;
}

.form-box {
    line-height: 1.2;
}