*, *::after, *::before {
    box-sizing: border-box;
  }
  
body {
    margin: 0;
}


.logo {
    margin-top: 10px;
    line-height: 1.2;
}
.logo-yt {
    width: 45px;
    position: absolute;
    line-height: 1.2;
}

.burger {
    font-size: 40px;
    color: grey;
}

.w-10{
    width: 10%;
}

.form-box {
    line-height: 1.2;
}

.yt-brand{
    width: 250px;
    border: 2px solid rgb(235, 226, 226);
}

.name {
   margin: 0;
}

.frame {
    width: 300px;
    border: 2px solid rgb(228, 220, 220);
    padding: 20px;
    margin-bottom: 50px;
}